body {
margin: 0;
background: #e6e6e6;
}
.header {
padding: 80px;
text-align: center;
background: #7B9669;
background-image: url("/home/amelia/Desktop/website/assets/images/websitebanner.png");
color: black;
display: flex;
justify-content: center;
align-items: center;
}
.banner-container {
width: 1000px;
background: #f1f1f1;
border-radius: 25px;
}
.header h1 {
font-size: 40px;
}
.navbar{
overflow: hidden;
display: flex;
justify-content: center;
background-color: #30363d;
}
.navbar a{
float: left; /*make sure the links stay side-by-side */
display: block; /* change the display to block, for responsive reasons */
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a.right{
float: right; /*Right-aligned link, floats a link to the right*/
}
.navbar a:hover {
background-color: #BAC8b1;
color: black;
}
* { /*why is this only an asterisk*/
box-sizing: border-box;
}
.row {
display: flex;
flex-wrap: wrap;
}
.image-container {
padding: 20px;
}
.image-container img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
    float:left;
    margin-left: 30px;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    }
.main{
flex: 70%;
background-color: #e6e6e6;
padding: 20px;
}
@media screen and (max-width: 700px) {
.row{
flex-direction: column;
}
}
@media screen and (max-width: 400px) {
.navbar a{
float: none;
width: 100%;
}
}
.footer {
padding: 20px;
text-align: center;
background: #ddd;

