* {
box-sizing: border-box;
}
body {
margin: 0;
background: #e6e6e6;
}
.header {
padding: 80px;
text-align: center;
background: #7B9669;
background-image: url("/home/amelia/Desktop/website/assets/images/websitebanner.png");
color: black;
display: flex;
justify-content: center;
align-items: center;
}
.banner-container {
width: 1000px;
background: #e6e6e6;
border-radius: 25px;
}
.header h1 {
font-size: 40px;
}
.navbar{
overflow: hidden;
display: flex;
justify-content: center;
background-color: #30363d;
}
.navbar a{
float: left; /*make sure the links stay side-by-side */
display: block; /* change the display to block, for responsive reasons */
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a.right{
float: right; /*Right-aligned link, floats a link to the right*/
}
.navbar a:hover {
background-color: #BAC8b1;
color: black;
}
.contact-container{
    height: auto;
    display: flex; 
    align-items: top;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly; 
}

.contact-col{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.contact-title {
	text-align: center;
}
	
.contact-title h2{
    font-weight: bold;
    color: #131313;
    font-size: 200%;
    margin-top: 25px;
}

.contact-title hr{
    width: 300px;
    height: 1px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin-bottom: 20px; 
}

.contact-inputs{
    width: 400px;
    height: 50px; 
    border:none; 
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-col textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border:2px solid #ff994f;
}

.contact-inputs::placeholder{
    color: #a9a9a9;
}

.contact-col button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font`-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: #7b9669;
    cursor: pointer;
}
@media (max-width: 480px) {
    .contact_container {
        flex-direction: column;
        align-items: center;
        /* This might be could code to use instead ex width:80vw; */
    }
}
@media screen and (max-width: 700px) {
.row{
flex-direction: column;
}
}
@media screen and (max-width: 400px) {
.navbar a{
float: none;
width: 100%;
}
}
.footer {
padding: 20px;
text-align: center;
background: #ddd;

