body {
margin: 0;
background: #e6e6e6;
}
.header {
padding: 80px;
text-align: center;
background: #7B9669;
background-image: url("/home/amelia/Desktop/website/assets/images/websitebanner.png");
color: black;
display: flex;
justify-content: center;
align-items: center;
}
.banner-container {
width: 1000px;
background:  #e6e6e6;
border-radius: 25px;
}
.header h1 {
font-size: 40px;
}
.navbar {
display: flex;
justify-content: center;
background-color: #404e3b;
}
.navbar a{
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a:hover {
background-color: #bac8b1;
color: black;
}
.menu-btn {
display: none;
}
.menu-icon{
display: none;
padding: 20px 20px;
cursor: pointer;
}
.menu-icon .nav-icon {
background: #333;
height: 2px;
width: 18px;
display: block;
position: relative;
transition: background .2s ease-out;
}
.menu-icon .nav-icon::before,
.menu-icon .nav-icon::after {
background: #333;
content:"";
height: 100%;
width: 100%;
position: absolute;
left: 0;
transition: background .2s ease-out;
}
.menu-icon .nav-icon::before{
top: -5px;
}
.menu-icon .nav-icon::after{
top: 8px;
}
.hamburger .menu-btn{
display: none;
}
.hamburger .menu-btn:checked ~ .navbar{
max-height: 240px;
}
.hamburger .menu-btn:checked ~ .menu-icon .nav
* { /*why is this only an asterisk*/
box-sizing: border-box;
}
.row {
display: flex;
flex-wrap: wrap;
}
.image-container {
padding: 20px;
}
.image-container img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
    float:left;
    margin-left: 30px;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    }
.biography-text{
flex: 70%;
background-color: #e6e6e6;
margin: 20px;
}
.biography-text p{
font-size: 16px;
margin:20px;
}
.hamburger {
display: none;
border: none;
background-color: transparent;
}

@media screen and (max-width: 600px) {
.menu-icon {
display: block;
}
.navbar{
max-height: 0;
overflow:hidden;
flex-direction: column;
transition: max-height 0.3s ease-out;
}
.menu-btn:checked ~ .navbar {
max-height: 300px;
}
.menu-btn:checked + .menu-icon .nav-icon {
background: transparent;
}
.menu-btn:checked + .menu-icon .nav-icon::before {
transform: rotate(45deg);
top: 0;
}
.menu-btn:checked + .menu-icon .nav-icon:: after {
transform: rotate(-45deg);
top: 0;
}
.image-container img{
margin-left: 0px;
}
}
@media screen and (max-width: 700px) {
.row{
flex-direction: column;
}
}
@media screen and (max-width: 400px) {
.navbar a{
float: none;
width: 100%;
}
}
.footer {
padding: 20px;
text-align: center;
background: #ddd;
}
