body {
margin: 0;
background: #e6e6e6;
}
.header {
padding: 80px;
text-align: center;
background: #7B9669;
background-image: url("/home/amelia/Desktop/website/assets/images/websitebanner.png");
color: black;
display: flex;
justify-content: center;
align-items: center;
}
.banner-container {
width: 1000px;
background:  #e6e6e6;
border-radius: 25px;
}
.header h1 {
font-size: 40px;
}
.navbar {
overflow: hidden;
display: flex;
justify-content: center;
background-color: #404e3b;
}
.navbar a{
float: left; /*make sure the links stay side-by-side */
display: block; /* change the display to block, for responsive reasons */
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a.right{
float: right; /*Right-aligned link, floats a link to the right*/
}
.navbar a:hover {
background-color: #bac8b1;
color: black;
}
.small-screen-navbar{
/*
 position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
*/
display: none;
cursor: pointer;
  }
.small-screen-navbar a{
width: 100%;
}
.menu-icon {
display: none;
}
@media(max-width: 800px){
  .hide-on-mobile{
    display: none;
  }
  .menu-icon{
    display: block;
  }
}
@media(max-width: 400px){
  .small-screen-navbar{
    width: 100%;
  }
* { /*why is this only an asterisk*/
box-sizing: border-box;
}
.row {
display: flex;
flex-wrap: wrap;
}
.image-container {
padding: 20px;
}
.image-container img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
    float:left;
    margin-left: 30px;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    }
.main{
flex: 70%;
background-color: #e6e6e6;
padding: 20px;
}
@media screen and (max-width: 700px) {
.row{
flex-direction: column;
}
}
@media screen and (max-width: 400px) {
.navbar a{
float: none;
width: 100%;
}
}
.footer {
padding: 20px;
text-align: center;
background: #ddd;
