body {
margin: 0;
background: #e6e6e6;
}
.header {
padding: 80px;
text-align: center;
background: #7B9669;
background-image: url("/assets/images/websitebanner.png");
color: black;
display: flex;
justify-content: center;
align-items: center;
}
.banner-container {
width: 1000px;
background:  #e6e6e6;
border-radius: 25px;
}
.header h1 {
font-size: 40px;
}
.navbar {
display: flex;
justify-content: center;
background-color: #30363d;
}
.navbar a{
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a:hover {
background-color: #bac8b1;
color: black;
}
.menu-btn {
display: none;
}
.menu-icon{
background-color: #30363d;
display: none;
padding: 20px 20px;
cursor: pointer;
}
.menu-icon .nav-icon {
display: inline-block;
vertical-align: middle;
background: #e6e6e6;
height: 2px;
width: 18px;
display: block;
position: relative;
transition: background .2s ease-out;
}
.menu-icon .nav-icon::before,
.menu-icon .nav-icon::after {
background: #e6e6e6;
content:"";
height: 100%;
width: 100%;
position: absolute;
left: 0;
transition: background .2s ease-out;
}
.menu-icon .nav-icon::before{
top: -5px;
background: #e6e6e6;
}
.menu-icon .nav-icon::after{
top: 5px;
background: #e6e6e6;
}
* { 
box-sizing: border-box;
}
.row {
margin: auto;
display: flex;
max-width: 1260px;
justify-content: center;
}
.image-container {
padding: 30px 60px;
position: sticky;
top: 200px;
height: 100%;
}
.image-container img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
    max-width: 100%;
    height: auto;
    }
.biography-text{
background-color: #e6e6e6;
width: 50%;
overflow: auto;
height: 100%;
}
.biography-text p{
font-size: 16px;
margin-right: 50px;
}
@media screen and (max-width: 1260px) {
.row {
justify-content: center;
width: auto;
margin: auto;
display: flex;
max-width: 1000px;
}
.image-container{
padding: 30px 60px;
width: 50%;
position: sticky;
top: 100px;
height: 100%;
}
.biography-text{
background-color: #e6e6e6;
width: 50%;
overflow: auto;
height: 100%;
}
.biography-text p{
font-size: 16px;
}
}
@media screen and (max-width: 800px) {
.row {
justify-content: center;
width: auto;
margin: auto;
align-items: center;
flex-direction: column;
}
.biography-text{
margin: 20px 30px;
width: auto;
}
.image-container {
text-align: center;
width: auto;
position: static;
}
}
.image-container img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    }
@media screen and (max-width: 600px) {

.menu-icon {
display: flex;
justify-content: center;
}
.navbar{
max-height: 0;
overflow:hidden;
flex-direction: column;
transition: max-height 0.2s ease-out;
}
.menu-btn:checked ~ .navbar {
max-height: 300px;
}
.menu-btn:checked + .menu-icon .nav-icon {
background: transparent;
}
.menu-btn:checked ~ .menu-icon .nav-icon:before {
transform: rotate(45deg);
top:0;
}
.menu-btn:checked ~ .menu-icon .nav-icon:after {
transform: rotate(-45deg);
top:0;
}
.image-container img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20%;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    }
}
@media screen and (max-width: 400px) {
.navbar a{
float: none;
width: 100%;
}
}
.footer {
clear: both;
padding: 20px;
text-align: center;
background: #ddd;
}
