body {
margin: 0;
background: #e6e6e6;
}
.header {
padding: 80px;
text-align: center;
background: #7B9669;
background-image: url("/assets/images/websitebanner.png");
color: black;
display: flex;
justify-content: center;
align-items: center;
}
.banner-container {
width: 1000px;
background: #e6e6e6;
border-radius: 25px;
}
.header h1 {
font-size: 40px;
}
.navbar{
overflow: hidden;
display: flex;
justify-content: center;
background-color: #30363d;
}
.navbar a{
float: left;
display: block; 
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a.right{
float: right;
}
.navbar a:hover {
background-color: #BAC8b1;
color: black;
}
.menu-btn {
display: none;
}
.menu-icon{
background-color: #404e3b;
display: none;
padding: 20px 20px;
cursor: pointer;
}
.menu-icon .nav-icon {
display: inline-block;
vertical-align: middle;
background: #e6e6e6;
height: 2px;
width: 18px;
display: block;
position: relative;
transition: background .2s ease-out;
}
.menu-icon .nav-icon::before,
.menu-icon .nav-icon::after {
background: #e6e6e6;
content:"";
height: 100%;
width: 100%;
position: absolute;
left: 0;
transition: background .2s ease-out;
}
.menu-icon .nav-icon::before{
top: -5px;
background: #e6e6e6;
}
.menu-icon .nav-icon::after{
top: 5px;
background: #e6e6e6;
}
.leftimage {
float: left;
}
.rightimage {
float: right;
}
.centerimage {
display: block;
margin: auto;
margin-bottom: 20px;
}
figcaption {
text-align: center;
margin-bottom: 20px;
}
.project-main {
display: flex;
flex-wrap: wrap;
width: 960px;
margin: auto;
margin-bottom: 20px;
}
.text-container {
margin-left: 30px;
margin-right: 30px;
max-width: 100%;
box-sizing: border-box;
}
.text-container h2{
text-align: center;
font-size: 28px;
}
.text-container p{
font-size: 16px;
}
.footer {
font-size: 12px;
padding: 20px;
background: #ddd;
text-align: center;
}
@media screen and (max-width: 960px) {
.project-main {
display: flex;
flex-wrap: wrap;
width: auto;
margin:auto;
margin-bottom: 20px;
}
.text-container{
margin-left:30px;
margin-right:30px;
max-width: 100%;
box-sizing: border-box;
}
}
@media screen and (max-width: 600px) {
.menu-icon {
display: flex;
justify-content: center;
background-color: #30363d;
}
.navbar{
max-height: 0;
overflow:hidden;
flex-direction: column;
transition: max-height 0.2s ease-out;
}
.menu-btn:checked ~ .navbar {
max-height: 300px;
}
.menu-btn:checked + .menu-icon .nav-icon {
background: transparent;
}
.menu-btn:checked ~ .menu-icon .nav-icon:before {
transform: rotate(45deg);
top:0;
}
.menu-btn:checked ~ .menu-icon .nav-icon:after {
transform: rotate(-45deg);
top:0;
}
.project-main {
display: flex;
flex-wrap: wrap;
width: auto;
margin: auto;
margin-bottom: 20px;
}
.text-container{
margin-left: 30px;
margin-right: 30px;
max-width: 100%;
box-sizing: border-box;
}
.centerimage {
display: block;
margin: auto;
margin-bottom: 20px;
max-width: 100%;
height: auto;
}
}
